<main>
  <div class="contents">
    <% @articles.each do |article| %>
        <div class="input-field col s6">
          <div class="card-panel hoverable">
            <h6><%= article.title %></h6>
            <p><%= article.content %></p>
            <ul>
              <li><a href="/articles/<%= article.id %>/edit" class="waves-effect waves-teal btn-flat">編集</a></li>
              <li>
                <%= link_to '削除', "/articles/#{article.id}", :class => "waves-effect waves-teal btn-flat", method: :delete %>
              </li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</main>
