<main>
  <div class="contents">
    <h4><%= @username %>さんの記事一覧</h4>
    <% @articles.each do |article| %>

      <%= render partial: "articles/article", locals: { article: article } %>

    <% end %>
    <%= paginate(@articles) %>
  </div>
</main>
