body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.pagination {
  background-color: #7986cb;
  text-align: center;
}

.detail-edit-delete-button {
  float: left;
}

.clearfix {
  clear: both;
}

.comment-container {
  padding-top: 70px;
}
