body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.pagination {
  background-color: #90caf9;
  text-align: center;
}

.edit-delete-button {
  float: left;
}
