<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="light-blue lighten-2">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">BLOG TITLE</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">ログイン</a></li>
            <li><a href="badges.html">新規登録</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <%= yield %>

    <footer>
      Copyright blogapp 2018.
    </footer>

    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>
